*{
    box-sizing:border-box;
    text-align:center;
    margin:0;
    scroll-behavior: smooth;
}
body{
    background:#0B0C10;
    height:100vh;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}
#navbar{
    background-color:#0b0c10;
    margin:0;
    height:8vh;
    display:flex;
    justify-content:start;
    align-items:center;
    /* gap:20px; */
    padding-left:10px;
    position:sticky;
    top:0;
}
a{
    text-decoration:none;
}
#navbar a{
text-decoration:none;
color:white;
font-size:3.5vh;
height:8vh;
padding:1.6vh 10px;
}
#navbar a:hover{
    background-color:#1F2833;
}
img{
    margin:15px;
    width: 120px;
    height:120px;
    border-radius:50%;
}
#intro{
    COLOR:#66FCF1;
    margin-top:-8vh;
    height:100vh;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
}
#intro h2{
    font-weight:normal;
    margin-bottom:10px;
}
#intro p{
    font-style:italic;
    COLOR:white;
}

#projects{
    padding-top:9vh;
    background-color:#CAFAFE;
    height:100vh;
    padding-top:40px;
    overflow: hidden;
}
h2{
    font-weight:normal;
    margin-bottom:10px;  
}

#projects h2{
    font-size:30px;
}

hr{
    height:3px;
    background-color:black;
}
#contact{
    height:50vh;
    display:flex;
    justify-content:center;
    align-items:center;
    flex-direction:column;
    flex-wrap:wrap;
}
#contact h2{
    color:#CAFAFE;
    margin-bottom:20px;
}
#afora{
    display:flex;
    gap:8px;
}
#contact a{
    color:white;
    transition:color 0.4s ease, transform 0.3s ease;
    font-weight:normal;
    font-size:20px;
}
#contact a:hover{
transform:translateY(3px);
color:#CAFAFE;
}
#project-tile{
    display:flex;
    justify-content: center;
    align-items:center;
    gap:16px;
    flex-wrap:wrap;
    /* max-width:1400px; */
}
#project-tile a{
    /* display:flex;
    justify-content: center; */
    margin-top:25px;
    height:30vh;
    width:20vh;
    min-width:90px;
    min-height:40px;
    color:#007a72;
    background-color: #00e2d3ce;
    border-radius:10px;
    padding-top:12vh;
    transition:color 0.3s ease, transform 0.3s ease-in-out, background-color 0.9s ease;
}
/* #p1{
    background-image: url("https://github.com/rakhar20/portfolio.github.io/blob/main/Screenshot%20(6).png?raw=true");
    background-color: #00766ead;
    /* mix-blend-mode:multiply; 
    background-size: cover;
    background-repeat:no-repeat;
    background-blend-mode:overlay;
    background-position: -33px;
}
#p2{
    background-image: url("https://github.com/rakhar20/portfolio.github.io/blob/main/Screenshot%20(7).png?raw=true");
    background-color: #00766e00;
    /* mix-blend-mode:multiply; 
    background-size:25vh 30vh;
    background-repeat:no-repeat;
    background-blend-mode:overlay;
    background-position: -22px;
}*/
#project-tile a:hover{
    transform:scale(1.05);
    color:#033431;
    background-color: rgba(0, 255, 255, 0.874);
}
@media screen and (max-height:500px){
    body{
        /* background-color:red; */
    }
    #navbar a{
        font-size:20px;
        height:40px;
    }
    #navbar{
        display:flex;
        justify-content: center;
        height:40px
    }
    img{
        width:100px;
        height:100px;
    }
}
@media screen and (max-width:500px) and (min-width:360px){
    #navbar{
        justify-content: center;
    }
    img{
        width:100px;
        height:100px;
    }
}
@media screen and (max-width:700px) and (min-width:500px){
    img{
        width:120px;
        height:120px;
    }
}
@media screen and (max-width:360px){
    #navbar{
        height:50px;
        padding-left:unset;
    }
    #navbar a{
        height:50px;
        font-size:15px;
        display:flex;
        justify-content: center;
        align-items:center;
        margin-left:0;
        width:33.333%
    }
    img{
        width:100px;
        height:100px;
    }
}
@media screen and (max-width:516px){
    
    #contact a{
        font-size:3.5vw;
    }
}
